body{
    margin: 0%;
    background-color: rgb(231, 249, 195);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;              
  /*display: flex; display flex is important foe the implentation of these two;*/
   /*  align-items: center;*/
 /*justify-content: center;*/
}
html,body{
    width: 100%;
    height: 100%;
}
h1{
background-color: rgb(110, 223, 223); 
border: 0cm; color: rgb(105, 105, 226);
text-align: center;
}
p{
    width: 50%;
    /* height: 20%; */
    color: rgba(11, 4, 39,.4);
    background-color: aliceblue;
    text-shadow: 0ch;
    border-style: groove;
    border-width: 5px;
    border-radius: 10px;
    background-image: url(IMG_20230605_064952\ \(1\).jpg);
    background-size: contain;
}
div{
    width:20%;
    height:20%;
   
}
#box2{
background-color: yellowgreen;
border-style: ridge;
border-width: 10px;
border-color: yellowgreen;
border: radius 10px;;
}